{% block navigation %}

<nav class="container">
    <span class="material-symbols-outlined">
        fireplace
    </span>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">login</a></li>
    </ul>
</nav>
{% endblock %}