{% extends "layout.njk" %}

{% block content %}
<main>
  <h1>{{ title }}</h1>
  <form action="/login" method="post">
    <label for="username">andvändarnamn</label>
    <input name="username" id="username"></input>

    <label for="password">password</label>
    <input name="password" id="password"></input>

    <button type="submit"> login </button>    

  </form>
  
  
</main>
{% endblock %}